<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CustomersFile</title>
</head>
<body>
    <h1>Dat is een customer file page! Ik ben aan het lereen!
    <p>Goedendag! Mensen!

        <table align="center" width="500" height="249" border="1" cellspacing="0">
            <thead>
                <tr>
                    <th>customer Name</th>
                    <th>contact Info</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="customer : ${customerlist}">
                    <td th:text="${customer.customerName}"></td>
                    <td th:text="${customer.contactInfo}"></td>
                </tr>
        
                <tr>
                        <td>1</td>
                        <td>鬼吹灯</td>
                        <td>456</td>
                        <td>123</td>
                </tr>
        
            </tbody>           
            </table>


</body>
</html>
