<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MaintinCustomerFile</title>
</head>
<body>
    <h1>Dat is een huis page! Ik ben aan het lereen!
    <h2>Goedendag! 
        Dear 
        <span th:text="${username}">
        </span> 
        !
    </h2>
         <div>   
            <a th:href="@{admin/maintaincustomerfile/customerfile}">Customers File List</a>
        </div>
        <div>
            <a th:href="@{admin/maintaincustomerfile/addnewcustomer}">Add New Customers File List</a> 
        </div>
      
</body>
</html>